<div>
  <form [formGroup]="userForm" (submit)="send()">
    <mat-form-field class="w-100">
      <input required matInput placeholder="Имя" formControlName="first_name">
      <mat-error>{{validatorMessages(userForm.get('first_name'))}}</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <input required matInput placeholder="Фамилия" formControlName="last_name">
      <mat-error>{{validatorMessages(userForm.get('last_name'))}}</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <input required matInput placeholder="Профессия" formControlName="job">
      <mat-error>{{validatorMessages(userForm.get('job'))}}</mat-error>
    </mat-form-field>

    <div class="row align-items-center">
      <div class="col-md-3">
        <mat-form-field class="w-100">
          <input matInput required [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="birth_date" placeholder="Дата рождения">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>{{validatorMessages(userForm.get('birth_date'))}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="w-100">
          <mat-select placeholder="Пол" formControlName="gender" required>
            <mat-option [value]="'male'">
              Мужской
            </mat-option>
            <mat-option [value]="'female'">
              Женский
            </mat-option>
          </mat-select>
          <mat-error>{{validatorMessages(userForm.get('gender'))}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-checkbox formControlName="is_active">активен</mat-checkbox>
      </div>
    </div>

    <mat-form-field class="w-100">
      <textarea required matInput placeholder="Биография" formControlName="biography"></textarea>
      <mat-error>{{validatorMessages(userForm.get('biography'))}}</mat-error>      
    </mat-form-field>

    <div class="text-center">
      <button class="btn btn-info">Сохранить</button>
    </div>
  </form>
</div>
